@import url('https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG:wght@100..400&display=swap');

body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;

}

/* Estilos generales para el formulario */
form {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}

/* Estilos para los encabezados */
h1{
  text-align: center;
  background-color:#71e5f5 ;
  margin: 0;
  font-size: 394%;
}

/* Estilos para los labels y inputs */
label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 97%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Estilos para el botón de envío */
input[type="submit"] {
  background-color: #D29D2B;
  color: white;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}


